@model IEnumerable<TimeTrackerCQRS.ViewModel.TaskListItem>

@{
    ViewBag.Title = "Task List";
}

<h2>Task List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Task
        </th>
        <th>
            Project
        </th>
        <th>
            Last Start Time
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Task, "Details", new { id=item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastStartTime)
        </td>
    </tr>
}

</table>
